{% extends 'index.html' %}

{%  block login %}

<div class="container">

      <form class="form-signin" action='{% url "login" %}' method="post">{% csrf_token %}
      <div class="col-xs-3">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username">User name</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="User name" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
          {% if login_error %}
          <label class="error">{{ login_error }}</label>
          {% endif %}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
       </div>
      </form>

    </div> <!-- /container -->

{%  endblock %}