{% extends 'index.html' %}
{% block status_vpn %}
    <table class="table">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Name VPN</th>
      <th>Server IP</th>
      <th>Port</th>
      <th>Status</th>
    </tr>
    </thead>
{% for line in general %}
    <tbody>
    <tr>
        <td>{{ line.general_project_name }}</td>
        <td><a href="/manage/vpn/{{ line.id }}">{{ line.general_vpn_name}}</a></td>
        <td>{{ line.general_server_ip }}</td>
        <td>{{ line.general_server_port }}</td>
        <td>{{ line.general_project_status }}</td>

    </tr>
    </tbody>
{% endfor %}
    {% block content %}{% endblock %}
    </table>
{% endblock %}