#row_num_input {
    width: 6em;
}

.bad_score {
    color: red;
}

.good_score {
    color: darkorange;
}

.excellent_score {
    color: darkolivegreen;
}

th {
    font-size: large;
}

.left {
    float: left;
}

.right {
    float: right;
}